.cart-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cart-item img{
    width: 70px;
    height: 100px;
    margin: 10px auto;
    object-fit: cover;
}

p, span{
    font-size: 13px;
}